footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100vw - 17px);
  padding: 1.87rem 0;
}

footer > h2 {
  font-size: 0.9rem;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  footer {
    position: relative;
  }
}

@media screen and (max-width: 568px) {
  footer {
    padding: 1rem 0;
  }
}
