footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100vw - 17px);
  padding: 1.87rem 0;
  gap: 5px;
}

footer > h2 {
  font-size: 0.5rem;
  font-weight: 300;
}

.footer-content-image > img {
  width: 50px;
}

@media screen and (max-width: 768px) {
  footer {
    position: relative;
  }
}

@media screen and (max-width: 568px) {
  footer {
    padding: 1rem 0;
  }
}
